html {
  font-size: 0.8rem;
  padding-bottom: 50px;
}

.control-label {
  font-size: 1.5em;
}

#fixed-header {
  > #header {
    background-color: black;
    color: white;
    // &:after {
    //   content: url("/src/img/svg/toilet-paper.svg");
    // }
    // &:before {
    //   content: url("/src/img/svg/toilet-paper.svg");
    // }
  }
  box-shadow: 5px 20px 50px white;
  background-color: white;
}

span[contenteditable] {
  text-decoration: underline;
}

.fb_iframe_widget span {
  height: 24px !important;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  margin-top: -5px;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  margin-top: -5px;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  height: 15px;
  width: 15px;
  margin-top: -5px;
}
